@font-face {
  font-family: 'Vazir';
  src: url('fonts/Vazir.woff2') format('woff2'),
       url('fonts/Vazir.woff') format('woff');
}

body {
  font-family: 'Vazir', sans-serif;
  background: #0a0a0a;
  color: #eee;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 480px;
  margin: auto;
  padding: 20px;
}

input {
  width: 48%;
  padding: 8px;
  background: #1e1e1e;
  color: white;
  border: none;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.invoice-btn {
  background: #3ea6ff;
  border: none;
  padding: 10px;
  width: 100%;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
}

/* لیست محصولات */
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  background: #111;
  padding: 5px 8px;
  border-radius: 4px;
}

.product label {
  flex: 1; /* نام محصول فضای بیشتری بگیرد */
  display: flex;
  align-items: center;
}

/* دکمه‌های ویرایش و حذف کوچک و جمع‌وجور */
.actions button {
  background: #444;
  color: white;
  border: none;
  padding: 2px 5px;
  font-size: 12px;
  margin-left: 4px;
  border-radius: 3px;
}

.actions button:hover {
  background: #10a37f;
}

span {
  margin-left: 10px;
}

pre {
  background: #111;
  padding: 10px;
  margin-top: 15px;
  white-space: pre-wrap;
  overflow-x: auto;
}
